albumentations
fastapi
huggingface_hub
matplotlib
nest-asyncio
numpy
opencv-python-headless
pillow
psycopg2-binary
pydantic
python-dotenv
python-multipart
requests
timm
torch
torchvision
tqdm
uvicorn
wandb
