SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key
SUPABASE_TABLE_NAME=tasks

SUPABASE_MASK_BUCKET_NAME=bucket-name-to-upload-mask

HUGGINGFACE_REPO=hf-model-repo
HUGGINGFACE_MODEL_FILENAME=best_ssl_model.pth
