numpy
opencv-python-headless
torch
torchvision
timm
albumentations
tqdm
wandb
matplotlib
fastapi
uvicorn
python-multipart
requests
python-dotenv
pydantic
huggingface_hub
supabase
nest-asyncio
psycopg2-binary
